/*Color Variables*/

:root {
    --grab-green: rgb(8,180,76);
}


.bg-green {
    background-color: var(--grab-green)
}

.text-green {
    color: var(--grab-green)
}

.form-check-input {
    border: 2px solid var(--grab-green) !important
}

.dropdown-item.active {
    background-color: var(--grab-green) !important;
}

.dropdown-item.active:hover {
    color: white !important;
}

.nav-item, .dropdown-item {
/*    Semibold is 600, if bold is needed just use 'bold'*/
    font-weight: 600;
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--grab-green)
}

.nav-link.active {
    font-weight: bold;
    color: var(--grab-green) !important;
}

.cart-image {
    width: 140px; 
    height: 140px; 
    object-fit: cover;
}

.cart-hr {
    border: 2.5px solid;
    border-radius: 2px;
}

.dish-1 {
    animation: dish-1 0.5s forwards
}

@keyframes generic-button-hover {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes generic-button-unhover {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

.slide-up {
    position: absolute;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1s ease-out forwards;
    animation-delay: var(--delay);
}

.navbar, .search-icon {
    transition: all 0.3s ease;
}

.text-decoration-none {
    text-decoration: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
    transition: all 0.3s ease;
}

.shadow-xlg {
    box-shadow: 0px 0px 50px 0px black;
}

.background-img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: blur(3px);
    height: 100vh;
    width: 100vw;
}



.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.grub-card-img {
    filter: brightness(0.75);
    object-fit: cover;
    height: 40vh;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card-image-container {
    overflow: hidden;
    border-radius: 20px;
}

.grub-card {
    border-radius: 20px;
    transition: all 0.3s ease;
    outline: 4px solid var(--grab-green);
    outline-offset: -1px;
}

.grub-card:hover {
    transform: scale(1.025);
}

.grub-card-img:hover {
    transform: scale(1.25);
}

.grub-card:hover .grub-card-img {
    filter: brightness(1);
}

.form-control:focus {
    border-color: var(--grab-green);
    box-shadow: 0 0 0 0.25rem rgba(8, 170, 76, 0.25);
}

.checkbox-green:checked {
    background-color: var(--grab-green) !important;
}

.checkbox-green {
    transition: all 0.3s ease;
    border-color: white !important;
}



.accordion-button:not(.collapsed) {
    background-color: var(--grab-green);
}

.btn-light {
    background-color: white;
    color: var(--grab-green);
    font-weight: 600;
    transition: all 0.3s ease;
    border: 2px solid var(--grab-green)
}

.btn-light:hover {
    background-color: var(--grab-green);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn-green {
    border: 2px solid white;
    background-color: var(--grab-green);
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-green-pressed {
    font-size: 16px;
    border-radius: 6px;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.3),
                inset -3px -3px 5px rgba(255,255,255,0.7);
    transform: translateY(3px);
    cursor: pointer;
}

.dish-search-component, .dish-search-component:focus:not(:hover) {
    padding-left: 2.5rem !important;
    transition: padding-left 0.2s ease;
}

.dish-search-component:focus,
.dish-search-component:hover {
    padding-left: 0.5rem !important;
}

.dish-search-component::placeholder {
    color: white;
    transition: color 0.2s ease;
}

.dish-search-component:focus::placeholder,
.dish-search-component:hover::placeholder {
    color: var(--grab-green);
}

.btn-green:hover {
    background-color: white;
    color: var(--grab-green);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/*Phones*/
.dish1 { left: 0vw; top: 25vh; height: max(35vw, 200px); }
.dish2 { left: 0vw; top: 55vh; height: max(25vw, 200px); }
.dish3 { left: 40vw; top: 70vh; height: max(27.5vw, 225px); }
.dish4 { left: 35vw; top: 0vh; height: max(22.5vw, 275px); }
.dish5 { left: 50vw; top: 40vh; height: max(25vw, 200px); }

/*Tablet*/
@media (min-width: 768px) {
    .dish1 { left: 10vw; top: 5vh; height: max(35vw, 350px); }
    .dish2 { left: 5vw; top: 55vh; height: max(30vw, 300px); }
    .dish3 { left: 60vw; top: 60vh; height: max(32.5vw, 325px); }
    .dish4 { left: 50vw; top: 5vh; height: max(37.5vw, 375px); }
    .dish5 { left: 30vw; top: 30vh; height: max(40vw, 400px); }
}

/*Desktop*/
@media (min-width: 1200px) {
    .dish1 { left: 5vw; top: 10vh; height: max(25vw, 450px); }
    .dish2 { left: 15vw; top: 50vh; height: max(35vw, 400px); }
    .dish3 { left: 75vw; top: 65vh; height: max(20vw, 300px); }
    .dish4 { left: 35vw; top: 0vh; height: max(40vw, 350px); }
    .dish5 { left: 75vw; top: 10vh; height: max(22.5vw, 325px); }
}

.image-container {
    position: relative;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.restaurant-banner {
    position: relative;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: 0;
    filter: blur(5px) brightness(0.75);
    height: 40vh;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110vw;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
